body {
    background-color: #EDEFEE;
    font-family: 'Sono', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
}

h2 {
    color: #B53434;
    font-family: 'Sono', sans-serif;
    align-self: flex-start;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: #132013;
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    text-align: justify;
    font-weight: 400;

}


a:hover {
    color: #B53434;
}

a:active {
    color: #8E44AD;
}


header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #E6E5E0;
}

nav li {

    border-radius: 1rem;
    margin: 1rem;

}


section {
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.promo:hover {
    border:solid orange;
}


.promo{
    background-image: url('promo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    fill-opacity: 0.7;
    height: 30rem;
    flex-direction: column;
    justify-content: flex-end;

}


.information {
    justify-content: center;
    border-radius: 1rem;
   
}

.info:hover {
    border: solid red;
}
.info img {
    border-radius: 1rem;
    
}

.info {
    flex-basis: 30%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
}

article img {
    width: 100%;
    height: auto;
}

.one {
    margin-right: 0.7rem;
}

.two {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.three {
    margin-left: 0.7rem;
}

footer {
    border-top: #132013 solid;
    display: flex;
    background-color: #E6E5E0;
    border-radius: 1rem;
    
}

div {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.copyright {
    justify-content: flex-start;
}